#Titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

#rodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    }